# OS/editor files
*.swp
.DS_Store
.idea/

# Python stuff
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
__pycache__/

# Python interface build outputs
/python_interface/.cache/
/python_interface/.coverage
/python_interface/.eggs/
/python_interface/*.egg-info/
/python_interface/build/
/python_interface/coverage.xml
/python_interface/docs/build/
/python_interface/docs/source/api/
/python_interface/dist/
/python_interface/junit*.xml

# Latex report build outputs
*.aux
*.blg
*.bbl
*.dvi
*.end
*.log
*.out
/report/report.pdf
